{
	"extends": [
		"plugin:@wordpress/eslint-plugin/recommended-with-formatting",
		"prettier"
	],
	"ignorePatterns": [
		"build/**/*",
		"bin/**/*",
		"node_modules/**/*",
		"vendor/**/*",
		"webpack.config.js",
		"tests/**/*"
	],
	"rules": {
		"max-len": [
			"error",
			{
				"code": 115
			}
		]
	}
}

