<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="testing">
			<directory prefix="test-" suffix=".php">./tests/</directory>
			<!-- once you have your own tests, remove this comment -->
			<!-- <exclude>./tests/test-sample.php</exclude> -->
		</testsuite>
	</testsuites>

	<php>
		<env name="PHPUNIT_PRETTY_PRINT_PROGRESS" value="true" />
		<!--
		we run phpunit in two envs: inside wp-env and in github actions.
		for github actions we use this env var, but we set it in the command line
		with WP_PHPUNIT__TESTS_CONFIG=tests/wp-config.php composer run test
		<env name="WP_PHPUNIT__TESTS_CONFIG" value="tests/wp-config.php" />
		-->
	</php>
</phpunit>
