/*
	use `.block-editor-block-list__block.wp-block-coco-aside-related-article` to select only the markup in the editor
	use `.wp-block-coco-aside-related-article.is-frontend` to select only the markup in the frontend
*/

/*
	Variables (only for this component)
*/
.wp-block-coco-aside-related-article {
	--coco-related-article-header-font-size: var(--wp--preset--font-size--large, 1.5rem);

	--coco-related-article-background-color: #fef2f1;
	--coco-related-article-accent: #f65c4e;
	--coco-related-article-muted: #9a908f;
}

/*
	Only in the editor
*/
.block-editor-block-list__block.wp-block-coco-aside-related-article.is-editor {
	& * {
		pointer-events: none;
	}

	.notice {
		padding: 1rem;
		border: 1px solid #000;
		color: var(--coco-related-article-muted, #111);
	}

	&:hover {
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	}
}

/*
	Only frontend
*/
.wp-block-coco-aside-related-article.is-frontend {
	/* There are no links in the editor, only frontend */
	a {
		text-decoration: none;
		display: flex;
		flex-direction: column;

		img {
			filter: brightness(0.8) contrast(1.2);
			transition: filter 0.5s ease-in-out;
		}
		.coco__relatedarticleinline {
			transition: border 0.5s ease-in-out;
		}
		&:hover {
			img {
				filter: none;
			}
			.coco__relatedarticleinline {
				border-color: var(--coco-related-article-accent);
			}
		}
	}
}

/*
	Both editor and frontend
*/
.wp-block-coco-aside-related-article {
	/* the inner div that I could not remove in the editor */
	> div,
	> a {
		display: flex;
	}

	/* IMPORTANT: this is what makes it inline */
	display: inline-flex;
	float: left;
	flex-direction: column;
	width: calc(var(--wp--style--global--content-size) / 2 - 3rem);
	max-width: 40vw;
	margin: 0;
	margin-right: 1rem;

	/* Edge case: if two Related Article one afer the other, then the next paragraph must be normal in editor. */
	+ .wp-block-coco-aside-related-article + .wp-block-paragraph {
		display: block;
		max-width: none;
	}

	/*
	 - Now the aestethics of the block itself:
	 background color, paddings etc.
	*/
	.coco__relatedarticleinline {
		padding-bottom: 1rem;
		background-color: var(--coco-related-article-background-color);
		border-radius: 5px;
		border: 1px solid #444111;
		width: 100%;

		.coco__relatedarticleinline--padding {
			padding-inline: 1rem;
		}

		.coco__relatedarticleinline__header {
			font-weight: bold;
			padding-block-start: 1rem;
			padding-block-end: 0.5rem;
			margin: 0;
			border-bottom: 5px solid var(--coco-related-article-accent, #000);
			font-size: var(--coco-related-article-header-font-size, 1.5rem);
			line-height: 1.2;
		}

		.coco__relatedarticleinline__media {
			display: flex;

			figure {
				display: flex;
				margin: 0;

				img {
					max-width: 100%;
				}
			}
		}

		.coco__relatedarticleinline__category {
			border: 1px solid var(--coco-related-article-accent);
			display: inline-block;
			border-radius: 15px;
			font-size: var(--font-size-xs, 0.75rem);
			padding: 0.1rem 0.9rem;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: bold;
			margin-block-start: 1rem;
			background: rgb(0 0 0 / 0.2);
		}

		.coco__relatedarticleinline__content__headline {
			& > * {
				display: inline;
			}

			color: var(--coco-related-article-accent);
			font-size: var(--coco-related-article-header-font-size);
			margin-block: 1rem;

			span {
				color: var(--coco-related-article-muted);
				padding-inline-end: 0.5rem;
			}
		}

		.coco__relatedarticleinline__excerpt {
			color: var(--coco-related-article-muted);
			font-size: var(--wp--preset--font-size--small);
			margin: 0;
		}

		.coco__relatedarticleinline__content__readmore {
			color: var(--coco-related-article-accent);
			font-size: var(--wp--preset--font-size--small);
			text-transform: uppercase;
			border: 0;
			padding: 0;
		}
	}
}

.wp-block-coco-aside-related-article ~ .wp-block-heading {
	clear: both;
}

.wp-block-coco-aside-related-article + .wp-block-heading {
	clear: none;
}
