
#modal-dialog {

	width: var(--wp--style--global--content-size);
	max-height: 90vh;
	z-index: 9999;

  & > * {
    margin: 0 0 0.5rem 0;
  }
}

#modal-dialog::backdrop {
  background: rgb(0 0 0 / 0.5);
}

